.header, .footer, .content {
	position: absolute;
	width: 100%;
}

.header, .footer {
	height: 50px;
}

.header { top: 0; }

.footer { bottom: 0; } 

.content {
	top: 50px;
	bottom: 50px;
}

#shop {
	display: block;
	position: relative;
	height: 1000px;
	width: 75%;
	border: 2px solid grey;
	background-color: white;
	margin-left: 12.5%;
	margin-bottom: 10%;
}

#searchmenu {
	position: absolute;
	width: 100%;
	height: 3%;
	border-bottom: 1px solid grey;
}

#smcont {
	position: absolute;
	right: .35%;
	top: 15%;
}

#searchresult {
	position: absolute;
	width: 100%;
	height: 96.9%;
	top: 3.1%;
	overflow-y: scroll;
	overflow-x: wrap;
}

#info {
	display: block;
	position: relative;
	width: 90%;
	margin-left: 5%;
	margin-top: 3%;
	margin-bottom: 5%;
}

#foottxt {
	margin: 0;
	padding: 15px;
	width: 100%;
	text-alignment: center;
	overflow: hidden;
	background-color: #228B22;
}


#resultBox {
	display: inline-block;
	position: relative;
	border: 2px solid grey;
	border-radius: 10px;
	width: 175px;
	height: 30%;
	margin-left: 3.5%;
	margin-top: 3.5%;
	background-color: white;
}

#pImg {
	display: inline-block;
	position: relative;
	width: 90%;
	top: 5%;
	left: 5%;
}

#pName{
	position: absolute;
	width: 95%;
	left: 2.5%;
	text-align: center;
	top: 65%;
}

#pPrice{
	position: absolute;
	width: 95%;
	font-size: 1.5em;
	text-align: right;
	right: 2.5%;
	bottom: 1%;
}